@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert-5385998_1280.png');
    background-position: center;
}

.startScreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 480px;
}

.d-none {
    display: none;
}

.startDiv {
    display: flex;
    justify-content: center;
}

.startGame {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: black;
    font-family: 'zabras';
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    background-color: #ffb707;
    display: block;
    padding: 20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    border-radius: 5px;
}

.endGame {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: black;
    font-family: 'zabras';
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    background-color: #ffb707;
    display: block;
    padding: 20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    border-radius: 5px;
}

.endScreen {
    background-size: cover;
    width: 720px;
    height: 480px;
    background-position: center;
    display: none;
}

.endGame:active {
    top: 10px;
    background-color: #F78900;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.endScreenDiv {
    display: flex;
    justify-content: center;
}

.startGame:active {
    top: 10px;
    background-color: #F78900;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

h1 {
    color: rgba(249, 249, 249, 0.899);
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, .75);
}

canvas {
    background-color: black;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 400px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}