@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert-5385998_1280.png');
    background-position: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.mobileAlert {
    width: 100%;
    height: 100vh;
    color: #F78900;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.startScreen {
    background: url('img/9_intro_outro_screens/start/startscreen_1.png') no-repeat 0 0 / 100% 100%;
    ;
    background-size: cover;
    background-position: center;
    width: 762px;
    height: 480px;
    object-fit: cover;
    border-radius: 16px;
}

.d-none {
    display: none!important;
}

.startDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
}

.startGame {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: black;
    font-family: 'zabras';
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    background-color: #ffb707;
    display: block;
    padding: 20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    border-radius: 5px;
}

.endGame {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: black;
    font-family: 'zabras';
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    background-color: #ffb707;
    display: block;
    padding: 20px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    border-radius: 5px;
}

.endScreen {
    background-size: cover;
    background-position: center;
    display: none;
}

#endScreen {
    width: 720px;
    height: 480px;
    border-radius: 16px;
}


.endGame:active {
    top: 10px;
    background-color: #F78900;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.endScreenDiv {
    display: flex;
    justify-content: center;
}

.startGame:active {
    top: 10px;
    background-color: #F78900;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

h1 {
    color: black;
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, .75);
    margin: 32px 0;
}

.hud {
    display: none;
    width: 100%;
    justify-content: space-between;
}

i {
    width: 32px;
    font-size: 32px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 32px;
    background-color: #ffbc02;
    text-align: center;
}

.leftKeys i {
    margin-right: 8px;
}

.rightKeys i {
    margin-left: 8px;
}

canvas {
    border-radius: 16px;
}

.canvas-container {
    position: relative;
}

#canvas-controls {
    position: absolute;
    top: 15%;
    right: 20%;
}

#canvas-controls i {
    font-size: 24px;
    margin-left: 10px;
}

.infoBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: chocolate;
    font-size: 42px;
}

.infoItem {
    margin-bottom: 5px;
}

.infoItem i {
    margin-right: 5px;
}

.infoUser {
    color: black;
    text-decoration: none;
}

.infoUser:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0, .75);
}

.impressum {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.impressum p {
    font-size: 24px;
}

#soundOn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 75px;
    left: 650px;
}

#soundOff {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 75px;
    left: 650px;
}

#restartBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 75px;
    left: 600px;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    .startScreen {
        width: 100%;
        /* height: 100vh; */
    }

    #endScreen {
        width: 100%;
    }
}

@media only screen and (max-height: 400px) {
    canvas {
        height: 100vh;
    }

    #endScreen {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    #soundOn {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
        left: 650px;
    }
    
    #soundOff {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
        left: 650px;
    }
    
    #restartBtn {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
        left: 600px;
    }
}

@media only screen and (max-width: 900px) {
    .hud {
        display: flex;
        position: absolute;
        top: 83%;
        left: 0;
    }
}

@media only screen and (max-width: 896px) {
    canvas {
        height: 100vh;
        width: 100%;
    }
    
    h1 {
        display: none;
    }

    #soundOn {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
    }
    
    #soundOff {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
    }
    
    #restartBtn {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 75px;
    }
}

@media only screen and (min-width: 901px) {
    .hud {
        display: none !important;
    }
}

@media only screen and (max-width: 668px) {
    #soundOn {
        width: 30px;
        height: 30px;
        position: fixed;
        left: 550px;
        top: 75px;
    }
    
    #soundOff {
        width: 30px;
        height: 30px;
        position: fixed;
        left: 550px;
        top: 75px;
    }
    
    #restartBtn {
        width: 30px;
        height: 30px;
        position: fixed;
        left: 500px;
        top: 75px;
    }
}